<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

    
    <title>{{ title }} - Home</title>
</head>
<body>
<div class="header">
    <div class="nav-logo">
         <a  href="/"><img src="../static/logo.jpg" alt="Carmens Cuisine"/></a>
    </div> 
</div>
     <nav class="navbar">
  {# header #}
            
        <div class="navlinks-container">
         <a href="/" class="nav-link">Home</a>
         <a href="/orders" class="nav-link">Orders</a>
         <a href="/contact" class="nav-link">Contact</a>
        </div>
    </nav>
<div class="section">
    <main>
         <h3>Delicious food, cooked fresh and delivered to your home</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodoLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo.
                
            consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo
            consequat.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo
            consequat.
        </p>
    </main>
</div>

<div class="footer"></div>
    
   
</body>
</html> 